.active {
  color: #3252df !important;
}

.background-overlay {
  position: relative;
}
.background-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.5;
  background-color: white;
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .background-overlay::after {
    background: none;
    position: relative;
  }
}

.overover {
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 50%) 67.71%,
    rgb(0 0 0 / 0%) 100%
  );
}
